body {
  padding: 0;
  margin: 0;
  background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
  background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}

.chat-thread {
  margin: 0 auto 0 auto;
  padding: 0 20px 0 0;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 40px 16px 20px;
  margin: 0 0 20px 0;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}

/* Chat - Avatar */
.chat-thread li:before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: '';
}

/* Chat - Speech Bubble Arrow */
.chat-thread li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(25, 147, 147, 0.2);
}

.chat-thread li.user {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 80px;
  color: #0AD5C1;
}

.chat-thread li.user:before {
  right: -80px;
  background-image: url(/image/doudou.jpg);
  background-size: cover;
}

.chat-thread li.user:after {
  border-right: 15px solid transparent;
  right: -15px;
}

.chat-thread li.robot {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 80px;
  color: #0EC879;
}

.chat-thread li.robot:before {
  left: -80px;
  background-image: url(/image/guodong.jpg);
  background-size: cover;
}

.chat-thread li.robot:after {
  border-left: 15px solid transparent;
  left: -15px;
}

.chat-window {
  position: fixed;
  bottom: 18px;
}

.chat-window-message {
  width: 100%;
  height: 48px;
  font: 32px/48px 'Noto Sans', sans-serif;
  background: none;
  color: #0AD5C1;
  border: 0;
  border-bottom: 1px solid rgba(25, 147, 147, 0.2);
  outline: none;
}

/* Small screens */
@media all and (max-width: 767px) {
  .chat-thread {
    width: 100%;
    height: 550px;
    padding: 20px 20px 0 20px;
  }

  .chat-window {
    left: 5%;
    width: 90%;
  }
}
/* Medium and large screens */
@media all and (min-width: 768px) {
  .chat-thread {
    width: 100%;
    height: 550px;
    padding: 0 20px;
  }

  .chat-window {
    left: 25%;
    width: 50%;
  }
}
@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
.credits{
  text-align:center;
  margin-top:35px;
  color: rgba(255, 255, 255, 0.35);
  font-family: 'Noto Sans', sans-serif;
}
.credits a{
  text-decoration:none;
  color: rgba(255, 255, 255, 0.35);
}
#input-wrap{
  position: absolute;
  bottom: 0;
  padding: 20px 52px;
}
#input-wrap input{
  color: #0AD5C1 !important;
  background-color: rgba(25, 147, 147, 0.2) !important;
  border: 0 !important;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  box-shadow: none;
  font-size: 16px;
  height: 52px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 16px 20px;
}
#input-wrap span{
  font-size: 16px;
  color: #0AD5C1 !important;
  background-color: rgba(25, 147, 147, 0.2) !important;
  border: 0 !important;
  border-left: 1px solid rgba(25, 147, 147, 0.3) !important;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
}
#btn-send{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.microphone-area{
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: transparent;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}
.microphone-area i{
  font-size: 84px;
  color: #09BB07;
}
.microphone-remark-area{
  text-align: center;
}
.microphone-remark-area span{
  color: #0AD5C1;
  font-size: 14px;
}
#voice-record-popup{
  display: none;
  width: 60%;
  height: 220px;
  top: 0;
  left: 20%;
}
.weui-popup__container, .weui-popup__overlay{
  position:absolute !important;
}
#voice-record-popup .weui-popup__modal{
  padding: 40px 0;
  overflow: hidden;
  background-color: #1A344B !important;
  border-radius: 10px;
  opacity: 1 !important;
  border: 1px solid rgba(25, 147, 147, 0.3);
}
#setting-modal{
  padding: 10px 0;
}
.weui-picker-container h1, .toolbar-inner h1{
  margin: 0 !important;
}
.weui-label,.weui-cell{
  font-weight: normal;
}
.weui-cell{
  margin-bottom: 0 !important;
}
.weui-cell p{
  margin: 0 !important;
}
.modal-content{
  border: 0 !important;
  padding-top: 1.7rem !important;
}
.toolbar .picker-button{
  right: 6px !important;
}